:root {
  --size: 10;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.game-title {
  background-color: rgb(231, 228, 228);
  color: dodgerblue;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}
.mines-left {
  color: #d10404;
  background-color: rgb(231, 228, 228);
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}
.game-title,
.mines-left,
#gameResult {
  margin: 10px;
}

.select-group {
  display: flex;
  align-items: center;
  background-color: rgb(231, 228, 228);
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}
.btn-reset {
  color: #fff;
  background-color: dodgerblue;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  cursor: pointer;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  border: var(--ds) solid;
  background-color: #d4d2d2;
  padding: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board {
  border: 3px solid rgb(20, 16, 16);
  display: grid;
  grid-template-columns: repeat(var(--size), 60px);
  grid-template-rows: repeat(var(--size), 60px);
}
footer {
  font-family: "Indie Flower", cursive;
  margin: 1rem;
  color: #d10404;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.my-name {
  color: rgb(10, 47, 85);
  font-weight: bolder;
}

@media screen and (max-width: 700px) {
  .board {
    grid-template-columns: repeat(var(--size), 40px);
    grid-template-rows: repeat(var(--size), 40px);
  }
}
@media screen and (max-width: 600px) {
  .board {
    grid-template-columns: repeat(var(--size), 40px);
    grid-template-rows: repeat(var(--size), 40px);
  }
}
@media screen and (max-width: 500px) {
  .board {
    grid-template-columns: repeat(var(--size), 30px);
    grid-template-rows: repeat(var(--size), 30px);
  }
}
.board > [data-status] {
  border: 2px solid rgb(61, 61, 61);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 25px;
}

.board > [data-status="hidden"] {
  background-color: #4e4e4e;
}
.board > [data-status="mine"] {
  background-color: #eb0d0d;
}
.board > [data-status="mine"]::after {
  content: "💥";
}
.board > [data-status="marked"] {
  background-color: #ed0d;
}
.board > [data-status="marked"]::after {
  content: "🚩";
}
